* {
	font-family: 'Montserrat', sans-serif;
}

.header-wrap {
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
}

.header-wrap-tag {
	background: #fcfcfc;
	border-bottom: 1px solid #ddd;
}

header h1 {
	padding: 0.5em 0 1em 0;
	margin-bottom: 0;
}
header h2 {
	margin: 0;
	padding: 1em 0;
	text-transform: uppercase;
	font-size: 1.25em;
}

label {
	text-transform: uppercase;
	font-weight: bold;
    font-size: 1.25em;
	padding: 1em 0;
}

input[type="number"] {
	border: none;
	padding: 1em;
    text-align: right;
    font-size: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

input[type="range"] {
}

span {
    font-size: 1.25em;
	padding: 1em;
	float: right;
    font-size: 1.25em;
    color: #aaa;
}

label .notes {
	text-transform: none;
	color: #666 !important;
	font-size: 0.75em;
	font-weight: lighter;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #23a633;
	border-color: #23a633;
	font-size: 1.5em;
}

.slider {
	margin-left: 1em;
	width: 95% !important;
}

#result {
	text-align: center;
}
	#result h2 {
		color: #23a633;
	}

	#result h3 {
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
	    font-size: 1.25em;
	}

	#result p {
		color: #aaa;
	}

	#result .profit p {
		color: #23a633;
	}
		#result .profit p.noprofit {
			color: red;
		}

	#result .profit p.could {
		color: #aaa;
	}

	#result p.taxes {
		margin-top: 4em;
		color: #666;
		font-size: 0.85em;
	}

footer {
	margin-top: 5em;
	text-align: center;
	color: #999;
}

	footer a {
		color: #23a633;
	}